:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --padding-1: 1.125em;
    --padding-2: 2.25em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 1.125em;
}

img {
    max-width: 100%;
    height: auto;
    width: max-content;
}

.card-container {
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 49.875em 49.875em, 49.875em 49.875em;
    background-position: left -180vw top -60vh, right -180vw bottom -60vh;
    background-color: var(--dark-cyan);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-1);

}

.card {
    background-color: #ffffff;
    border-radius: 1em;
    width: 18em;
    box-shadow: .25em .75em 1em .5em rgba(101, 108, 134, 0.25);
}

.pattern {
    border-radius: 1em 1em 0em 0em;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    padding-top: 5.25em;
    padding-bottom: 1.5em;
}

.profile-image {
    display: block;
    margin: 0 auto;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.card-content {
    text-align: center;
    font-size: 1.125em;
    color: var(--grayish-blue);
}

.name {
    color: var(--desaturated-blue);
    font-weight: 700;
}

.location {
    padding: .5em 1em 1.875em;
    font-size: .75em;
}

.card-stats {
    border-top: 1px solid #e7e7e7;
    padding: 1.5em;
    display: flex;
    justify-content: space-around;
}

.stats-number,
.stats-descriptor {
    display: block;
    text-align: center;
}

.stats-number {
    font-weight: 700;
    color: var(--desaturated-blue);
    font-size: 1em;
    padding-bottom: .75em;
}

.stats-descriptor {
    font-size: .5em;
}

.attribution {
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    width: 100%;
    padding: var(--padding-2);
}

.attribution a {
    color: #ffffff;
}

@media screen and (min-width:1024px) {
    .card-container {
        background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
        background-repeat: no-repeat;
        background-size:49.875em 49.875em;
        background-position:left -10vw top -30vh, right -10vw bottom -30vh;
    }
}